@tailwind base;
@tailwind components;
@tailwind utilities;

/* @keyframes loading-rotate {
  to {
    @apply rotate-[1turn];
    transform: rotate(1turn);
  }
} */

.createUser {
  background-color: rgba(0, 0, 0, 0.5);
}
.HomeChildrens {
  width: 82%;
}
.Qrpage,
.TrainerTimings {
  background-color: rgba(0, 0, 0, 0.682);
  /* filter: opacity(0.934); */
}
.ProfilePage {
  background-color: rgba(0, 0, 0, 0.682);
}
.Qrpage .Qrcodes {
  color: white;
  background-color: rgba(0, 0, 0, 0.799);
}
.profileImg {
  background-color: rgba(55, 61, 83, 0.347);
}
.asideEle {
  font-size: 19px;
}
.batches {
  height: 90%;
  /* background-color: blue; */
  /* border: 2px solid transparent; */
}
.childrens section {
  background-color: rgba(0, 0, 0, 0.712);
}
.batches:nth-child(odd) {
  background-color: rgba(240, 248, 255, 0.205);
}
.takeBtn {
  padding: 5px 15px;
  background-color: white;
  color: black;
  border-radius: 5px;
}
.takeBtn:hover {
  background-color: rgba(228, 227, 227, 0.847);
}
.batches td .viewBtn {
  padding: 4px 15px;
  /* border: 1px solid; */
  border-radius: 5px;
  background-color: rgb(31, 88, 212);
}
.batches td .viewBtn:hover {
  background-color: rgb(23, 69, 169);
}
::-webkit-scrollbar {
  display: none;
}
.childrens {
  background-image: url("./src/assets/backgroundImage.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  mix-blend-mode: multiply;
}
.Qrscanner section {
  height: 100%;
  width: 20%;
  display: flex;
  padding: 10px;
}
.Qrscanner section div {
  height: 30%;
  width: 100%;
}
.Qrscanner section div video {
  height: 90% !important;
  /* filter: drop-shadow(0px 0px 10px white); */
}
@keyframes loading-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -40px;
  }
  to {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -120px;
  }
}
@media only screen and (max-width: 680px) {
  /* .HomeNav {
    display: none;
  }
  .AsideBar {
    display: block;
  } */
  .createUser {
    height: 100vh;
  }
  .HomeChildrens {
    width: 83%;
  }
  .AsideBar {
    display: none;
  }
  .childrens {
    width: 100%;
  }
}
